#boggle {
  text-align: center;
}

.board {
  border: 2px solid black;
  border-radius: 13px;
  font-family: monospace;
  font-weight: bold;
  font-size: 200%;
  box-shadow: 0 0 3px gray;
  margin: 0 auto;
}

.board td {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
}

.msg {
  padding: 1em;
}

.msg.ok {
  color: white;
  background-color: green;
}

.msg.err {
  color: white;
  background-color: tomato;
}

